<header>
  <% logo = image_tag("http://dummyimage.com/255x50/000/fff.png&text=Warrior+Logo", :alt => "Warrior Online", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
